.single-match-container {
  display: flex;
  align-items: flex-start;
  width: 96vw;
  margin: 2rem auto;
  align-items: flex-start;
  position: relative;
  min-height: 90vh;
  transition: all 0.4s;
}

/*Single-Match*/
.single-match * {
  margin: 0;
  padding: 0;
}
.single-match {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  transition: all 0.4s;
}
.single-match-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}
.single-match-top-item {
  display: flex;
  align-items: center;
}
.single-match-top-item p {
  margin-left: 0.4rem;
  font-size: 1.1rem;
  color: rgb(105, 105, 105);
}
.single-match-top-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 3rem;
}
.single-match-top-center p {
  font-size: 1.5rem;
}
.single-match-info-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.single-match-gender {
  display: flex;
  align-items: center;
}
.single-match-gender p {
  text-transform: capitalize;
}
.single-match-gender img {
  width: 30px;
}
.single-match-info-container p {
  font-size: 1.5rem;
  margin: 0 0.3rem;
}
.single-match-teams {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.single-match-team * {
  margin: 0;
  padding: 0;
}
.single-match-team {
  display: flex;
  align-items: center;
  width: 50%;
}
.single-match-first-team {
  justify-content: flex-end;
}
.single-match-second-team {
  justify-content: flex-start;
}
.single-match-team img {
  max-width: 140px;
  margin: 0 1rem;
}
.single-match-team-name {
  font-size: 1.9rem;
}
.single-match-score span {
  display: flex;
  align-items: center;
}
.single-match-score span p {
  font-size: 2rem;
}
.single-match-score-item {
  background-color: rgba(241, 241, 241, 0.724);
  border-radius: 8px;
  width: 3rem;
  height: 3rem;
  text-align: center;
  margin: 0 0.3rem;
}
.single-match-sets-scores {
  width: 100%;
  height: 1rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-match-sets-scores span {
  display: flex;
  margin: 0 1.3rem;
}
.single-match-sets-scores span p {
  font-size: 1.3rem;
}
@media (max-width: 1200px) {
  .single-match {
    width: 95%;
    margin: 0.5rem;
    padding: 0;
  }
  .single-match-info-container {
    margin-bottom: 0.5rem;
  }
  .single-match-top {
    margin-bottom: 1.2rem;
  }
  .single-match-team img {
    max-width: 80px;
    margin: 0 0.4rem;
  }
  .single-match-team-name {
    font-size: 1.2rem;
  }
  .single-match-top-item p {
    margin-left: 0.2rem;
    font-size: 0.8rem;
  }
  .single-match-top-center {
    justify-content: center;
  }
  .single-match-top-center p {
    font-size: 1.1rem;
  }
  .single-match-info-container p {
    font-size: 1.1rem;
  }
  .single-match-score-item {
    width: 2rem;
    height: 2rem;
    text-align: center;
    margin: 0 0.3rem;
    border-radius: 5px;
  }
  .single-match-score span p {
    font-size: 1.35rem;
  }
  .single-match-sets-scores span {
    margin: 0 0.7rem;
  }
  .single-match-sets-scores span p {
    font-size: 1.2rem;
  }
}
@media (max-width: 500px) {
  .single-match {
    width: 95%;
    margin: 0.3rem;
  }
  .single-match-team {
    flex-direction: column;
  }
  .single-match-first-team img {
    order: -1;
  }
  .single-match-team img {
    max-width: 90px;
    margin: 0 0.2rem;
  }
  .single-match-team-name {
    font-size: 1.5rem;
  }
  .single-match-top-item {
    margin: 0 0.6rem;
  }
  .single-match-top-item p {
    margin-left: 0.2rem;
    font-size: 0.9rem;
  }
  .single-match-top-center p {
    font-size: 1.1rem;
  }
  .single-match-top-center {
    margin-left: 1rem;
    max-width: 15rem;
  }
  .single-match-info-container p {
    font-size: 1.1rem;
  }
  .single-match-score-item {
    width: 3rem;
    height: 3rem;
    border-radius: 6px;
  }
  .single-match-score span p {
    font-size: 2rem;
  }
}
/*End Single-Match*/
.single-match-ads {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 95vw;
  max-width: 200px;
  min-width: 100px;
  min-height: 80vh;
  position: sticky;
  left: 1rem;
  top: 100px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.single-match-ads span {
  text-align: center;
  font-size: 2rem;
}
.single-match-h2h {
  border-top: 1px solid #ccc;
  width: 100%;
  margin-top: 5rem;
  padding: 1rem;
}
.other-matches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 90vw;
  max-width: 350px;
  position: sticky;
  right: 1rem;
  top: 80px;
}
@media (max-width: 880px) {
  .single-match-container {
    flex-direction: column;
    align-items: center;
  }
  .single-match {
    min-width: 300px;
    margin-top: 1rem;
  }
  .single-match-ads {
    position: relative;
    min-height: 150px;
    max-width: 600px;
    left: 0;
    top: 0;
  }
  .other-matches {
    margin-top: 6rem;
    position: relative;
    right: 0;
    top: 0;
    max-width: 600px;
    border-top: 1px solid #ccc;
    padding: 0;
    padding-top: 1rem;
  }
  .single-match-h2h {
    padding: 0;
    padding-top: 1rem;
  }
}
