.Add-match-form-container {
  display: flex;
  height: 90%;
  align-items: center;
  justify-content: center;
}
.rezultat {
  width: 4rem;
}
.scor {
  display: inline-flex;
}
.puncte {
  padding-left: 1rem;
  padding-right: 1rem;
}
