.single-post-container {
  display: flex;
  align-items: flex-start;
  width: 96vw;
  margin: 2rem auto;
  align-items: flex-start;
  position: relative;
}
.single-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90vw;
  min-width: 500px;
  margin: 0 1rem;
}
.singlepost-ads {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 95vw;
  max-width: 200px;
  min-width: 100px;
  min-height: 80vh;
  position: sticky;
  left: 1rem;
  top: 100px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.singlepost-ads span {
  text-align: center;
  font-size: 2rem;
}
.single-post-tags {
  margin: 0.5rem auto;
}
.single-post-info {
  margin: 1.2rem auto;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 0.5rem;
}
.single-post-info * {
  margin: 0;
  padding: 0;
}
.single-post-info-date {
  display: flex;
  align-items: center;
  flex: 3;
}
.single-post-info-share {
  display: flex;
  justify-content: flex-end;
  flex: 6;
}
.icon-share {
  margin: 0 1rem;
}
.single-post-image {
  width: 100%;
}
.single-post-image img {
  width: 100%;
  max-height: 700px;
  border-radius: 8px;
}
.single-post-description {
  letter-spacing: 1px;
  line-height: 2rem;
  margin-top: 1rem;
}
.other-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 90vw;
  max-width: 320px;
  position: sticky;
  right: 1rem;
  top: 80px;
}
.see-also {
  width: 100%;
  display: flex;
  margin-left: 2rem;
}
.see-also h2 {
  font-size: 1.4rem;
}
@media (max-width: 780px) {
  .single-post-container {
    flex-direction: column;
    align-items: center;
  }
  .single-post {
    min-width: 300px;
    margin-top: 1rem;
  }
  .singlepost-ads {
    position: relative;
    min-height: 150px;
    max-width: 600px;
    left: 0;
    top: 0;
  }
  .icon-share {
    margin: 0 0.5rem;
  }
  .other-posts {
    position: relative;
    right: 0;
    top: 0;
    max-width: 600px;
  }
  .see-also h2 {
    font-size: 1.7rem;
  }
}
