.container-personal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 90vh;
  position: relative;
}
.personal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 90vh;
}
.personal-toolbar {
  width: 100%;
  height: 60px;
  box-shadow: 2px 2px 25px 3px #ccc;
  margin: 0.5rem 1rem;
  top: 80px;
  left: 0;
  position: sticky;
  background-color: white;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 3;
}
.personal-toolbar-item {
  display: flex;
  align-items: center;
  max-width: 14rem;
  margin: 0 2rem;
}
.personal-toolbar-item label {
  padding: 0.3rem;
}
.filter-player-by-age-container {
  display: flex;
  align-items: center;
}
.filter-player-age {
  margin: 0 0.3rem;
}
.personal-reset {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-self: flex-end;
  padding: 0.5rem;
  border-radius: 4px;
}
.personal-reset:hover {
  background-color: rgba(236, 236, 236, 0.832);
  cursor: pointer;
}
.personal-reset:active {
  background-color: rgba(215, 215, 215, 0.927);
}
.personal-reset span {
  margin: 0 0.5rem;
}
@media (max-width: 768px) {
  .personal {
    flex-direction: column;
    width: 90%;
  }
  .personal-toolbar {
    justify-content: space-around;
  }
  .personal-toolbar-item {
    max-width: 6rem;
    margin: 0 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .personal-toolbar {
    height: 80px;
  }
  .personal-reset {
    flex-direction: row;
  }
}
@media (max-width: 500px) {
  .personal-toolbar-item {
    max-width: 4.5rem;
    margin: 0 0.2rem;
  }

  .personal-reset span {
    display: none;
  }
}
