.cards{
    display: flex;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width:768px)
{
.cards{
    flex-direction: column;
    width: 90%;
}
}

.searchPlayer{
    width: 15%;
    margin-top: 0.8rem;
    display: flex;
    margin-left: 82.9%;
    
    
    
}
@media screen and (max-width:768px)
{
.searchPlayer{
    flex-direction: column;
    margin-left:auto;
    margin-right: auto;
}
}