.acasa-container {
  position: relative;
  display: flex;
  min-height: 90vh;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgb(231, 231, 231); */
}
.slick-posts {
  width: 100%;
}

.slick-prev,
.slick-next {
  height: 50px;
  width: 50px;
  z-index: 3;
}
.slick-prev:before,
.slick-next::before {
  font-size: 45px;
  color: rgba(145, 169, 249, 0.564);
  opacity: 0.6;
}
.slick-prev {
  left: 10px;
}
.slick-next {
  right: 10px;
}
.acasa-section {
  min-height: 300px;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  margin: 2rem auto;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 5px;
}
.acasa-section-title {
  margin-left: 2rem;
  background-image: linear-gradient(45deg, #045de9, #09c6f9);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.acasa-section-content {
  border-top: 1px solid rgb(188, 188, 188);
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.future-matches-section {
  max-width: 1000px;
}
.slick-future-matches {
  width: 80%;
  align-self: center;
}
.future-slick-match-problem .match {
  width: 95%;
}
.acasa-section-btn-more {
  font-size: 18px;
  border-radius: 4px;
  background: #256ce1;
  padding: 10px 22px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-left: 24px;
  border: 1px solid #256ce1;
  align-self: center;
  margin: 0rem auto;
}
.acasa-section-btn-more:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #256ce1;
}
@media (max-width: 1000px) {
  .acasa-section-btn-more {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .slick-future-matches {
    width: 100%;
  }
  .future-slick-match-problem {
    margin-left: 0.5rem;
  }
  .acasa-section {
    padding: 1rem 0;
  }
  .slick-prev:before,
  .slick-next::before {
    font-size: 35px;
  }
  .slick-prev {
    left: 5px;
  }
  .slick-next {
    right: 5px;
  }
}
