.juvenil-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
}
.juvenil-lot {
  width: 94%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.juvenil-header {
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}
.lot-image {
  width: 100%;
  margin: 2rem auto;
}
.lot-image img {
  width: 100%;
}
.lot-title {
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.lot-players,
.lot-coaches {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-top: 3px solid blue;
  min-height: 400px;
}
