.dropdown-sidebar {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.2rem;
  left: 1rem;
  padding: 0.8rem;
}
.profile {
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: all 0.5s;
}
.profile p {
  margin: 0;
  margin-left: 0.5rem;
}
.profile:hover {
  cursor: pointer;
}
.dropdown-menu {
  display: none;
}
#chk-dropdown:checked ~ .dropdown-menu {
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
}
.dropdown-item:hover {
  padding-left: 1rem;
}
