.mainDiv {
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 90%;
  padding: 1rem;
}
.div-table {
  margin: 3rem auto;
  border: 1px solid #ccc;
  padding: 1rem 0;
  border-radius: 10px;
  overflow: hidden;
}
.div-table h1 {
  margin-left: 1rem;
}
table {
  padding: 0;
  margin: 0;
}
.edit {
  color: rgb(0, 136, 255);
}
.delete {
  color: red;
}
.btn-add {
  width: 10rem;
  padding: 0.5rem;
  margin-top: 1rem;
}
.problematic {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 750px) {
  .hidde-on-overflow {
    display: none;
  }
}
